<div class="modal-header">
  <h4 class="modal-title text-info" id="modal-title">Ajout d'un ami</h4>
  <button type="button" class="close" aria-describedby="modal-title" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="newFriendForm" (ngSubmit)="submitForm()">
  <div class="modal-body mt-3">
    <div class="container">
      <div class="form-group">
        <label for="title">Saisir le nom de votre ami</label>
        <input id="title" type="text" class="form-control" formControlName="friendLogin" />
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success" [disabled]="!newFriendForm.valid" type="submit" >Ajouter</button>
  </div>
</form>
