<div class="row ">
  <div class="col-md-4 infos-dino ">
    <!-- form card register -->
    <div class="card">
      <div class="card-header">
        <h4 class="text-info"> Mes informations</h4>
      </div>
      <div class="card-body">
        <table class="">
          <tbody>
          <tr>
            <th>Idenfiant: </th>
            <td>{{ currentDino.login }}</td>
          </tr>
          <tr>
            <th>Race: </th>
            <td>{{ currentDino.race }}</td>
          </tr>
          <tr>
            <th>Nourriture: </th>
            <td>{{ currentDino.food }}</td>
          </tr>
          <tr>
            <th>Age: </th>
            <td>{{ currentDino.age }}</td>
          </tr>
          <tr>
            <th>Famille: </th>
            <td>{{ currentDino.family }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <button class="btn btn-primary"> Modifier </button>
      </div>
    </div>

  </div>
</div>

<div class="row mt-3">

  <div class="col-6 mb-1 text-center m-auto">
    <h5 class="alert alert-danger text-center" [hidden]="!selfAdd" >Impossible de s'ajouter à sa propre liste d'amie</h5>
  </div>

  <div class="col-12 mb-1 text-right">
    <button class="btn btn-lg btn-outline-info text-right mr-3" (click)="addNewFriend()">Ajouter un ami</button>
  </div>

  <div class="col-12 alert alert-info text-center">
    <h4>Ma liste d'amis </h4>
  </div>

  <div class="col-12 mt-2" [hidden]="hasFriends">
    <div class="alert alert-warning text-center"> Vous n'avez pas encore d'ami !</div>
  </div>

  <div class="col-12" [hidden]="!hasFriends" >
    <table class="table table-striped table-primary">
      <thead>
      <tr>
        <th>Identifiant</th>
        <th>Famille</th>
        <th>Race</th>
        <th>Nourriture</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dino of friendList" >
        <td>{{ dino.login }}</td>
        <td>{{dino.family }}</td>
        <td>{{dino.race}}</td>
        <td>{{dino.food}}</td>
        <td>{{dino.age}}</td>
        <td>
          <button (click)="deleteDino(dino._id)" class="btn btn-danger" >Supprimer</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
